<div class="container">
    <div class="row text-center">
        <div ng-repeat="listing in vm.listing.list">
            <div class="well col-sm-4 box">
                <h2>Sale listing</h2>
                <p>City: {{listing.city}}</p>
                <p>Cost: {{listing.cost | currency}}</p>
                <p>Square Feet: {{listing.sqft}}</p>
                <button ng-click="vm.deleteListing(listing._id)" class="btn btn-danger">Delete</button>

            </div>
        </div>
    </div>
</div>